.button {
  display: block;
  background-color: transparent;
  border: none;
  margin: auto;
}

.main {
  width: 40%;
  min-height: 150px;
  margin: 20px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  text-align: center;
  background-color: beige
}

@media (max-width: 600px) {
  .main {
    width: 100%;
    background-color: beige;
  }
}